// Components
@import "./components/loginForm";

.login {
    background-color: $primary;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;

    .login_wrapper {
        padding: 50px;
        max-width: 600px;
        margin: 0 auto;
        position: relative;
        z-index: 100;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.1);

        &__header {
            padding-bottom: 20px;
            &_title {
                text-transform: uppercase;
                font-weight: 800;
                font-size: 38px;
            }
            &_signup {
                button {
                    border: none;
                    padding: 0;
                    background-color: transparent;
                    text-decoration: underline;
                    color: $primary;
                    transition: color 50ms ease-in-out;

                    &:hover {
                        color: $secondary;
                    }
                }
            }
        }

        .auth_forms {}

    }
}
